.bg{
    
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-clip: border-box;
    opacity: 0.9;
    height: 100%;
}
.main{
    margin-top:100px;
    margin-bottom: 50px;
    
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 10px ;
}
.main h1{
   color: #6e87fe;
   margin-top:50px;
   margin-bottom: 50px;
}
h1 span{
    font-size:18px;
}
.main p{
    text-indent: 2em;
    color: black;
    margin-bottom: 20px;
}
.neirong{
    padding:0 2em 50px 2em;
}
.back{
    position: absolute;
    right: 5rem;
    bottom: 2rem;
}
.back a:hover{
    text-decoration:none;
    color:#000;
}
.ft-right{
    background-color: white;
    opacity: .8;
    height: 5rem;
    line-height: 5rem;
}
.ft-right p{
    float: right;
    margin-bottom: 0;
    margin-right: 1rem;
}
.ft-right p a{
    display: inline-block;
    margin-left: 1rem;  
}
.ft-right p a:hover{
    text-decoration: none;
    color:#000;
}